*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contain{
    width: 75%;
    margin: auto;
}


.cell{
    width: calc(100% / 10);
    border: 1px solid black;
    aspect-ratio: 1/1;
}

.bg_green{
    background-color: green;
}

body{background-color: black;}